{% extends 'base.html.twig' %}
{% block title %}Spending Calculator{% endblock %}
    {% block body %} 
      <h5 class="text-center mt-3 text-primary">{{ message }}</h5>
      <form class="mt-5" method="POST" action = {{action}}>
            {% for category in categories %}
            <div class="form-group row justify-content-center mt-2">
                <label class="col-sm-2 col-form-label" for="{{category.category}}">{{category.category}}:</label>
                <div class="col-sm-6">
                <input type="number" step="0.01" name="{{category.category}}" class="form-control " id="{{category.category}}">
                </div>
            </div>
            {% endfor %}
           <div class="form-group row justify-content-center mt-2">
            <input type="submit" name="save" class="btn btn-success btn-lg" value="Сохранить">
            </div>
      </form>
    {% endblock %}